.header {
  background-color: var(--header-background-color);
  display: flex;
  height: 80vh;
  overflow: hidden;
  flex-direction: column;
  padding: 5rem 0 0.3rem 0;
  transition: 0.3s ease-in-out background-color;
}

.headerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex: 1;
  max-width: 1000px;
  height: 100%;
}

.headerTitleContainer {
  width: max-content;
  display: grid;
  text-align: center;
}

.headline {
  color: var(--header-text-color);
  font-size: 56px;
  font-weight: 600;
  transition: 0.3s ease-in-out color;
  margin: 0;
}

.subHeadline {
  color: var(--header-text-color);
  font-size: 28px;
  font-weight: 400;
  transition: 0.3s ease-in-out color;
  margin: 0;
  margin-top: 5px;
}

.headerLinksContainer {
  display: flex;
  align-items: center;
  width: max-content;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.headerImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}
