.container {
  margin: 2rem 0;
}

.information {
  display: grid;
}

.title {
  margin-top: 0;
}

.text {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.6rem;
}
