.iconLink {
  width: 100%;
}

.skill {
  align-items: center;
  aspect-ratio: 1.5 / 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  transition: filter 0.3s ease;
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid transparent;
}

.skill > * {
  transition: transform 200ms ease-out;
}

@media (hover) {
  .iconLink:hover .skill > * {
    transform: scale(1.2);
  }
}
