.subtitle {
  font-size: 1.15rem;
  color: var(--text-color);
}

.goalsContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.goal {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.6rem;
}
