.storyContainer {
  display: grid;
  margin-bottom: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.textContainer {
  display: grid;
  gap: 0.6rem;
}

.list {
  margin: 0;
  display: grid;
  gap: 0.6rem;
}

.image {
  width: 100%;
  object-fit: cover;
  position: sticky;
  top: 0;
}

@media (max-width: 1368px) {
  .container {
    grid-template-columns: 1fr;
  }

  .image {
    display: none;
  }
}
