:root {
  --link: #1051a2;

  --timeline-main: #1051a2;
  --timeline-accent: rgb(33, 150, 243);
  --timeline-secondary: rgba(33, 150, 243, 0.4);

  --header-background-color: #f5f5f7;
  --header-text-color: #1d1d1f;
  --primary-color: #6ec2f7;
  --secondary-color: #fff;
  --background-color: #fff;
  --background-primary-color: #fff;
  --background-secondary-color: #fff;
  --card-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 16%);
  --tooltip-text-color: rgba(255, 255, 255, 0.87);
  --hard-black: #222;
  --light-black: rgba(0, 0, 0, 0.2);
  --text-color: #1d1d1f;
  --text-color-inverted: #f5f5f7;
  --footer-background-color: #f5f5f7;
  --scrollbar-thumb: hsl(203, 90%, 80%);
  --scrollbar-thumb-hover: hsl(203, 90%, 70%);
  --language-indicator-background: #f7b457;
  --language-indicator-color: rgba(0, 0, 0, 0.8);
}

[data-theme="dark"] {
  --background-primary: #0e0e0e;
  --background-secondary: #1d1d1f;
  --background-tertiary: #fbfbfd;

  --link: #1051a2;
  --timeline-main: #1051a2;
  --timeline-secondary: #fefefe;
  --timeline-accent: rgb(33, 150, 243);

  --header-background-color: var(--background-tertiary);
  --header-text-color: #1d1d1f;
  --primary-color: #6ec2f7;
  --secondary-color: #f7b457;
  --background-primary-color: var(--background-primary);
  --background-secondary-color: hsl(211, 28%, 25%);
  --card-shadow: none;
  --tooltip-text-color: rgba(255, 255, 255, 0.87);
  --hard-black: #eee;
  --light-black: rgba(255, 255, 255, 0.2);

  --text-color: #f5f5f7;
  --text-color-inverted: #1d1d1f;
  --label-color: #a1a1a6;
  --footer-background-color: #1d1d1f;
  --footer-text-color: rgba(255, 255, 255, 0.87);
  --scrollbar-thumb: hsl(211, 28%, 25%);
  --scrollbar-thumb-hover: hsl(211, 28%, 35%);
  --language-indicator-background: #f7b457;
  --language-indicator-color: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#__next {
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

body {
  all: unset;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}
