.controlBarContainer {
  position: relative;
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkBox {
  display: none;
}

.toggle {
  display: block;
  width: 3rem;
  height: 3rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--background-secondary-color);
  transition: 0.3s ease-in-out background-color;
  box-shadow: 0 2px 5px rgb(64 67 62 / 16%);
}

@media (hover) {
  .toggle:hover {
    cursor: pointer;
  }
}

.toggleIconContainer {
  width: 100%;
  height: 200%;
  display: grid;
  place-items: center;
  transition: 0.3s ease-in-out transform;
}

.checkBox:checked + .toggle > .toggleIconContainer {
  transform: translateY(-50%);
}

.moonIcon {
  stroke: var(--text-color);
  fill: var(--text-color);
}
