.container {
  margin-bottom: 2rem;
  display: grid;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}

.title {
  font-size: 1.7rem;
  color: var(--text-color);
}

.aboutInfoContainer {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.subtitle {
  font-size: 1.15rem;
  color: var(--text-color);
}

.text {
  font-size: 1rem;
  color: var(--text-color);
}

.goalsContainer {
  display: flex;
  flex-direction: column;
}

.goal {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.6rem;
}
