.recommendationsContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media (max-width: 480px){
  .recommendationsContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
