.header {
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: 0.3s ease-in-out background-color;
}

.headerMain {
  align-items: center;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.headerTitleContainer {
  width: 100%;
}

.headerTitle {
  color: var(--text-color);
  font-size: 3rem;
  transition: 0.3s ease-in-out color;
  white-space: normal;
}

.headerLinksContainer {
  display: flex;
  align-items: center;
  width: max-content;
  flex-wrap: wrap;
  width: 100%;
}

.hiddenResumeDownloadContainer {
  margin: 0.5rem;
  position: relative;
}

.headerLinkButtonResume {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color;
  z-index: 1;
  letter-spacing: 0.09375rem;
}

.hiddenResumeDownload {
  position: absolute;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: 0.5rem 0.3rem;
  font-size: 0;
  z-index: 0;
  border-radius: 0.5rem;
  transition: 0.3s top ease, 0.1s font-size ease, 0.1s z-index ease, 0.3s box-shadow ease,
    0.3s background-color ease-in-out;
}

.hiddenResumeDownloadActive {
  top: calc(100% - 0.25rem);
  font-size: 1rem;
  z-index: 2;
  box-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 16%);
}

.hiddenResumeDownloadLinks {
  font-size: inherit;
  margin: 0;
  color: var(--text-color);
}

.headerImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headerImage {
  max-width: 70%;
  height: auto;
  border-radius: 66% 34% 70% 30% / 47% 60% 40% 53%;
  object-fit: cover;
  background-color: #ddd;
}

@media (max-width: 768px) {
  .headerImageContainer {
    display: none;
  }

  .headerMain {
    width: 90%;
    grid-template-columns: none;
  }
}
