.recommendationContainer {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 200ms ease;
}

.recommendationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.recommendationName {
  height: 5rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  font-weight: 500;
  pointer-events: none;
}

.image {
  transition: 200ms ease-out transform;
}

@media (hover) {
  .image:hover {
    transform: scale(110%);
  }
}
