.container {
  margin-bottom: 2rem;
  display: grid;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}

.title {
  font-size: 1.7rem;
  color: var(--text-color);
}

.aboutInfoContainer {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

.subtitle {
  font-size: 1.15rem;
  color: var(--text-color);
}

.text {
  font-size: 1rem;
  color: var(--text-secondary-color);
}

.icon {
  font-family: 'Segoe UI Emoji';
}

.goalsContainer {
  display: flex;
  flex-direction: column;
}

.goal {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin-bottom: 0.6rem;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 0.5rem;
}

.storyContainer {
  display: grid;
}

.textContainer {
  display: grid;
  gap: 0.6rem;
}

.recommendationsContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
