html[data-theme="light"] .listItem {
  box-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 8%);
}

.listItem {
  --text-color: #1d1d1f;

  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  background-color: #fff;
  color: var(--text-color);
  padding: 3rem;
}

@media (max-width: 768px) {
  .listItem {
    padding: 2rem 3rem;
  }
}

.icon {
  margin-top: auto;
  padding-top: 1rem;
  max-width: 10rem;
  cursor: default;
}

.icon img {
  width: 100%;
}

.icon[id="rocket"] {
  --transition: 300ms;
  transition: transform var(--transition) ease-out,
    opacity var(--transition) ease-out, filter var(--transition) ease-out;
}

@media (hover) {
  .icon[id="rocket"]:hover {
    transform: scale(1.03) rotate(-10deg) translateY(-1rem);
    opacity: 0.8;
    filter: drop-shadow(0 0 80px rgba(255, 120, 0, 0.7));
  }
}

.icon[id="lightbulb"] {
  --transition: 300ms;
  transition: transform var(--transition) ease-out,
    opacity var(--transition) ease-out, filter var(--transition) ease-out;
}

@media (hover) {
  .icon[id="lightbulb"]:hover {
    transform: scale(1.05) translateY(-10px);
    opacity: 0.9;
    filter: drop-shadow(0 0 80px rgba(255, 255, 0, 0.7));
  }
}

.icon[id="gamepad"] {
  --transition: 300ms;
  transition: transform var(--transition) ease-out,
    opacity var(--transition) ease-out;
}

@media (hover) {
  .icon[id="gamepad"]:hover {
    transform: rotate(10deg) scale(0.95);
    opacity: 0.8;
  }
}

.customTitle {
  color: var(--card-subtitle-color) !important;
}
