.h1 {
  color: var(--text-color);
  font-size: 48px;
  font-weight: bold;
}

.h2 {
  color: var(--text-color);
  font-size: 34px;
  font-weight: bold;
}

.h3 {
  color: var(--text-color);
  font-size: 26px;
  font-weight: bold;
}

.h4 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}
