.container {
  display: flex;
  margin: 2rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--text-color);
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin: 0;
}

.imageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image {
  width: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    justify-content: center;
  }
}
