:root {
  --header-background-color: #3daef5;
  --header-text-color: rgba(0, 0, 0, 0.8);
  --primary-color: #6ec2f7;
  --secondary-color: #fff;
  --background-color: #fff;
  --background-primary-color: #fff;
  --background-secondary-color: #fff;
  --card-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 16%);
  --hard-black: #222;
  --light-black: rgba(0, 0, 0, 0.2);
  --text-color: rgba(0, 0, 0, 0.8);
  --text-secondary-color: rgba(0, 0, 0, 0.65);
  --footer-background-color: #3daef5;
}

[data-theme='dark'] {
  --header-background-color: #202c39;
  --primary-color: #6ec2f7;
  --secondary-color: #f7b457;
  --background-primary-color: hsl(211, 28%, 12%);
  --background-secondary-color: hsl(211, 28%, 25%);
  --card-shadow: none;
  --hard-black: #eee;
  --light-black: rgba(255, 255, 255, 0.2);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-secondary-color: rgba(255, 255, 255, 0.67);
  --footer-background-color: #202c39;
  --footer-text-color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  all: unset;
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

@media (min-width: 1366px) {
  html {
    font-size: 100%;
  }
}
