:root {
  --primary-color: #6ec2f7;
  --secondary-color: #cef6ff;
  --white: #fff;
  --hard-black: #222;
  --text-color: rgba(0, 0, 0, 0.8);
  --text-secondary-color: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  all: unset;
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

@media (min-width: 1366px) {
  html {
    font-size: 100%;
  }
}
