:root {
  --header-background-color: #3daef5;
  --header-text-color: rgba(0, 0, 0, 0.8);
  --primary-color: #6ec2f7;
  --secondary-color: #fff;
  --background-color: #fff;
  --background-primary-color: #fff;
  --background-secondary-color: #fff;
  --card-shadow: 0 0.188rem 1.25rem 0.125rem rgb(64 62 67 / 16%);
  --tooltip-text-color: rgba(255, 255, 255, 0.87);
  --hard-black: #222;
  --light-black: rgba(0, 0, 0, 0.2);
  --text-color: rgba(0, 0, 0, 0.8);
  --text-secondary-color: rgba(0, 0, 0, 0.65);
  --footer-background-color: #3daef5;
  --scrollbar-thumb: hsl(203, 90%, 80%);
  --scrollbar-thumb-hover: hsl(203, 90%, 70%);
  --language-indicator: #f7b457;
}

[data-theme='dark'] {
  --header-background-color: #202c39;
  --primary-color: #6ec2f7;
  --secondary-color: #f7b457;
  --background-primary-color: hsl(211, 28%, 12%);
  --background-secondary-color: hsl(211, 28%, 25%);
  --card-shadow: none;
  --tooltip-text-color: rgba(255, 255, 255, 0.87);
  --hard-black: #eee;
  --light-black: rgba(255, 255, 255, 0.2);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-secondary-color: rgba(255, 255, 255, 0.67);
  --footer-background-color: #202c39;
  --footer-text-color: rgba(255, 255, 255, 0.87);
  --scrollbar-thumb: hsl(211, 28%, 25%);
  --scrollbar-thumb-hover: hsl(211, 28%, 35%);
  --language-indicator: #f7b457;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/SFProDisplay_Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

#root {
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

body {
  all: unset;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

@media (min-width: 1366px) {
  html {
    font-size: 100%;
  }
}
